* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;

}


body{
   
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:blanchedalmond;
}

.contact h2{
    font-size: 100px;
    color:rgb(133, 113, 50);
    text-align: 10px center;
    margin-bottom: 10px;
    
}

form .input-box{

    display: flex;
    justify-content: space-between;
    
}
form button {
    padding: 12px 32px;
    background: rgb(95, 91, 91);
    border: navajowhite;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 5px rgb(151, 131, 131);
    font-size: 16px;
    color: beige;
    
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 0px;
    transition: .5s;
}
form button:hover{

    box-shadow: none;


}
    
.field .item {

    width: 100%;
    padding: 18px;
    background:white;
    border: 2px solid rgb(206, 185, 189);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color:hotpink;
    margin: 12px 0;
}

.field .item::placeholder{

    color: rgb(78, 4, 4);
}


